<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Proza Libre' rel='stylesheet'>
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Profile</title>
</head>

<body>
  <header>
    <h2>
      <i class="fas fa-car fa-lg logo"></i>
      <a href="../index.html">Ride My Way</a>
    </h2>
    <nav id="nav">
      <li>
        <a href="./offers.html">View Rides</a>
      </li>
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <a href="../index.html" id="logout">Logout</a>
      </li>
    </nav>
  </header>

  <section class="section-wrapper">
    <div class="details">
      <div class="information">
        <img src="../assets/images/placeholder-image.png" alt="profile-image" class="profile-image" />
        <p class="greeting" id="salutation"></p>
      </div>
      <div class="information">
        <div class="ride-info">
          <p class="text">Rides Offered: </p>
          <p id="offered"></p>
        </div>
        <div class="ride-info">
          <p class="text">Rides Taken: </p>
          <p id="taken"></p>
        </div>
        <a href="./new-offer.html" class="btn">
          <i class="fas fa-plus"></i>New Offer</a>
        <a href="./my-offers.html" class="btn">View Requests</a>
      </div>
    </div>
    <div class="table-container">
      <table id="ridesTaken">
        <tr>
          <th colspan="5" class="main-header">Rides Taken</th>
        </tr>
      </table>
      <div class="loader" id="spinnerTaken"></div>
    </div>
    <div class="table-container">
      <table id="ridesOffered">
        <tr>
          <th colspan="4" class="main-header">Rides Offered</th>
        </tr>
      </table>
      <div class="loader" id="spinnerOffered"></div>
    </div>

  </section>

  <script src="../scripts/dashboard.js"></script>
  <script src="../scripts/logout.js"></script>
  <script src="../scripts/app.js"></script>
</body>

</html>
