<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Proza Libre' rel='stylesheet'>
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Offers</title>
</head>

<body>
  <header>
    <h2>
      <i class="fas fa-car fa-lg logo"></i>
      <a href="../index.html">Ride My Way</a>
    </h2>
    <div class="search">
      <div class="search-fields">
        <input class="find-ride" type="search" placeholder="Rides from" id="starting">
        <input class="find-ride" type="search" placeholder="Going to" id="ending">
      </div>
      <a href="javascript:void(0);" class="btn-small" id="searchButton">
        <i class="fas fa-search"></i>
      </a>
    </div>
    <nav id="nav">
      <li>
        <a href="#">View Rides</a>
      </li>
      <li>
        <a href="./profile.html">Dashboard</a>
      </li>
      <li>
        <a href="../index.html" id="logout">Logout</a>
      </li>
    </nav>
  </header>

  <section class="all-offers section-wrapper" id="rideOffers">
    <div class="loader" id="spinner"></div>
  </section>

  <script src="../scripts/logout.js"></script>
  <script src="../scripts/offers.js"></script>
  <script src="../scripts/app.js"></script>
</body>

</html>
